<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to User Management Sytems</title>
        {% block head_css %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}

        {% block head_js %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}      
    </head>
    <body>

        <div class="main container">
            <div id="sidebar">
                <h1>User Management Sytems</h1>
                {% block sidebar %}
                    <nav>
                        <ul>
                            <li><a href="/" target="_blank" >Home</a></li> | 
                            <li><a href="/users/" target="_blank">User Management</a></li> |
                            <li><a href="/Rest/users/" target="_blank">Rest API</a></li> |
                            <li><a href="/users/new" target="_blank">Add User</a></li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>

            <div id="content">
                {% block body %}
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Email</th>
                                <th>MobileNumber</th>
                                <th>Education</th>
                                <th>DOB</th>
                                <th>BloodGroup</th>
                                <th>Gender</th>
                                <th>View</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in userlist %}
                            <!-- {{dump(user)}} -->
                            <tr>
                                <td>{{ user.userFirstName }}</td>
                                <td>{{ user.userLastName }}</td>
                                <td>
                                    {% for usrEmail in user.userEmail %}
                                        <p>{{ usrEmail }} </p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for usrMob in user.userMobileNumber %}
                                        <p>{{ usrMob }} </p>
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for usrEdu in user.userEducation %}
                                       <p>{{ usrEdu }}</p>
                                    {% endfor %}
                                </td>
                                <td>{{ user.userDateofBirth.date }}</td>
                                <td>{{ user.userBloodGroup }}</td>
                                <td>{{ user.userGender }}</td>
                                <td><a href="/Rest/users/{{ user.id }}" target="_blank">View</a></td>
                                <td><a href="/users/edit/{{ user.id }}" target="_blank">Edit</a></td>
                                <td><a href="/users/delete/{{ user.id }}" target="_blank">Delete</a></td>                                
                            </tr> 
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation">
                       {{ knp_pagination_render(pagination, null, {}, {
                            'align' : 'center',
                            'position': 'centered',
                            'size': 'large',
                            'rounded': true
                            })
                        }}
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
