<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to User Management Sytems</title>
        {% block head_css %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% endblock %}

        {% block head_js %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}      
    </head>
    <body>
        <div class="main container">
            <div id="sidebar">
                <h1>User Management Sytems - Add User Form</h1>
                {% block sidebar %}
                    <nav>
                        <ul>
                            <li><a href="/" target="_blank" >Home</a></li> | 
                            <li><a href="/users/" target="_blank">User Management</a></li> |
                            <li><a href="/Rest/users/" target="_blank">Rest API</a></li>
                        </ul>
                    </nav>
                {% endblock %}
            </div>

            <div id="content">
                <div class="table-responsive">
                    {% block body %}
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userFirstName) }}
                        </div>
                        <div class="col-md-7">
                        {{ form_widget(form.userFirstName) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userLastName) }}
                        </div>
                        <div class="col-md-7">
                        {{ form_widget(form.userLastName) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userDateofBirth) }}
                        </div>
                        <div class="col-md-7">
                        {{ form_widget(form.userDateofBirth) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userBloodGroup) }}
                        </div>
                        <div class="col-md-7">
                        {{ form_widget(form.userBloodGroup) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userGender) }}
                        </div>
                        <div class="col-md-7">
                        {{ form_widget(form.userGender) }}
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userEmail) }}
                        </div>
                        <div class="col-md-7">
                            <ul id="email-fields-list"
                                data-prototype="{{ form_widget(form.userEmail.vars.prototype)|e }}"
                                data-widget-tags="{{ '<li></li>'|e }}">
                                {% for emailField in form.userEmail %}
                                    <li>
                                        {{ form_errors(emailField) }}
                                        {{ form_widget(emailField) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#" data-list="#email-fields-list" id="add-another-email" class="add-another-collection-widget btn btn-success btn-md">Add Email</a>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userMobileNumber) }}
                        </div>
                        <div class="col-md-7">
                            <ul id="mobile-fields-list"
                                data-prototype="{{ form_widget(form.userMobileNumber.vars.prototype)|e }}"
                                data-widget-tags="{{ '<li></li>'|e }}">
                                {% for mobileField in form.userMobileNumber %}
                                    <li>
                                        {{ form_errors(mobileField) }}
                                        {{ form_widget(mobileField) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#" data-list="#mobile-fields-list" id="add-another-mobile" class="add-another-collection-widget btn btn-success btn-md">Add Mobile Number</a>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="col-md-2">
                        {{ form_label(form.userEducation) }}
                        </div>
                        <div class="col-md-7">
                            <ul id="edu-fields-list"
                                data-prototype="{{ form_widget(form.userEducation.vars.prototype)|e }}"
                                data-widget-tags="{{ '<li></li>'|e }}">
                                {% for eduField in form.userEducation %}
                                    <li>
                                        {{ form_errors(eduField) }}
                                        {{ form_widget(eduField) }}
                                    </li>
                                {% endfor %}
                            </ul>
                            <a href="#" data-list="#edu-fields-list" id="add-another-edu" class="add-another-collection-widget btn btn-success btn-md">Add Education</a>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" /> 
                    </div>  
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/userform.js') }}"></script>
        {% endblock %}
    </body>
</html>
